/* letra grande */
.music-card .big{
    font-size: 62px;
    font-weight: 900;
    color: rgba(0,0,0,.85);
    text-shadow: 0 1px 0 rgba(255,255,255,.10);
    z-index: 2;
}

/* cantos */
.music-card .mini{
    position:absolute;
    font-weight: 900;
    color: rgba(0,0,0,.75);
    z-index: 2;
    font-size: 20px;
}
.music-card .mini.top{ top: 16px; left: 24px; }
.music-card .mini.bottom{ bottom: 16px; right: 24px; }

/* MARCA D’ÁGUA VERTICAL ESTILO IMPRESSO */
.music-card .watermark{
    position: absolute;
    font-size: 8px;
    letter-spacing: 3px;
    font-weight: 700;
    color: rgba(224, 217, 217, 0.316);
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

/* lado direito – sobe */
.music-card .watermark.right{
    right: -8px;
    top: 23%;
    transform: translateY(-50%) rotate(90deg);
}

/* lado esquerdo – desce */
.music-card .watermark.left{
    left: -8px;
    top: 77%;
    transform: translateY(-50%) rotate(-90deg);
}


/* brilho/sombra sutil pra dar "volume" sem usar segunda cor real */
.music-card::after{
    content:"";
    position:absolute;
    inset:0;
    background:
    radial-gradient(120px 220px at 20% 15%, rgba(255,255,255,.10), transparent 60%),
    radial-gradient(200px 260px at 70% 80%, rgba(0,0,0,.18), transparent 60%);
    pointer-events:none;
}

.music-card.pop{
    animation: pop .18s ease-out;
}

@keyframes pop{
    from { transform: scale(.98); }
    to   { transform: scale(1); }
}

/* Fonte menor para sustenidos e bemóis */
.music-card.alterada .big{
  font-size: 70px; /* ajuste fino aqui (70–78 fica bom) */
}

.music-card.alterada .mini{
    font-size: 17px;
}

/* acordes médios */
.music-card.compact .big{
    font-size: 45px;
}
.music-card.compact .mini{
    font-size: 17px;
}

/* acordes longos (ex: Cm7(b5)) */
.music-card.compact2 .big{
    font-size: 45px;
    letter-spacing: -1px;
}
.music-card.compact2 .mini{
    font-size: 14px;
}
